/* Color of the brand */
div.container-fluid a.navbar-brand {
  font-size: 2rem;
  color: white;
  overflow-x: hidden;
}

.collapse.navbar-collapse ul{
  margin: auto;
  
}

.collapse.navbar-collapse ul li {
  font-size: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.collapse.navbar-collapse ul li a:is(.nav-link, .nav-link.active) {
  color: white;
}

.collapse.navbar-collapse ul li a:is(.nav-link, .nav-link.active):hover {
  color: black;
}

.navbar-toggler span.navbar-toggler-icon {
  filter: invert(100%);
}

.card {
  max-width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #002435;
}

.card * {
  color: white;
}

div.col-5 .card {
  min-width: 40%;
  max-width: 90%;
  min-height: 100%;
  margin: auto;
}

div.col-2 {
  justify-content: center;
  text-align: center;
  margin: auto;
}

div ul.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

#textinputandbutton {
  justify-content: center;
}